<!-- @Tiago Brazao 2017 VIEW EXAMPLE 1 -->
<!DOCTYPE html>
<html>
	<head>
		<title> Web Model</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, 
					maximum-scale=1.0, user-scalable=no">
	</head>

	<body id="top_content1">

	<!-- CONTENT 1 -->	
	<div class="wrapper row2">
  	<div class="hoc container clear"> 
    
    <ul class="nospace group cta">
      <li class="one_third first">
        <article><strong class="numb">01</strong>
          <h6 class="heading font-x1"><a href="#">EXEMPLO 1</a></h6>
          <p>Legenda</p>
        </article>
      </li>
      <li class="one_third">
        <article><strong class="numb">02</strong>
          <h6 class="heading font-x1"><a href="#">Exemplo 2</a></h6>
          <p>Legenda</p>
        </article>
      </li>
      <li class="one_third">
        <article><strong class="numb">03</strong>
          <h6 class="heading font-x1"><a href="#">Exemplo 3</a></h6>
          <p>Legenda</p>
        </article>
      </li>
    </ul>
   </div>
</div>
</body>
</html>