<!-- @Tiago Brazao 2017 VIEW EXAMPLE 3 -->
<!DOCTYPE html>
<!-- @Tiago Brazao 2017 -->
<!--  -->
<html>
	<head>
		<title> Web Model</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, 
					maximum-scale=1.0, user-scalable=no">
	</head>

	<body id="top_content3">

	
    <!-- CONTENT 3 -->	

<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
  <article class="hoc container clear center"> 
    <!-- ################################################################################################ -->
    <h2 class="font-x3">Parturient montes</h2>
    <p class="btmspace-50">Ridiculus mus sed pretium erat quis eros imperdiet nec suscipit diam venenatis ut a ipsum pulvinar tincidunt&hellip;</p>
    <p class="nospace"><a class="btn medium" href="#">Read More &raquo;</a></p>
    <!-- ################################################################################################ -->
  </article>
</div>

<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h3 class="font-x3 nospace">In egestas massa</h3>
      <p class="nospace">Maecenas in laoreet ante nulla varius ullamcorper augue ut lacinia turpis mauris commodo in sem <a href="#">quis mollis</a>.</p>
    </div>
    <div class="group">
      <div class="one_third first">
        <h2>Venenatis eget tristique</h2>
        <p>Sodales est ac maximus scelerisque fusce tempus libero tempus congue vulputate enim nunc pretium sem&hellip;</p>
      </div>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="images/demo/320x240.png" alt=""></a>
        <h3 class="heading">John Doe</h3>
        <p>Vel tempus dolor eros in nunc curabitur vel dapibus quam nullam in vestibulum nisi proin nunc quam aliquet ut est&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="images/demo/320x240.png" alt=""></a>
        <h3 class="heading">Jane Doe</h3>
        <p>Interdum velit aliquam vel dui sed lorem iaculis blandit et quis lorem nam cursus eget tortor id tristique nunc&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
    </div>
     </section>
</div>



<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

</body>
</html>