<!DOCTYPE html>
<!-- @Tiago Brazao 2017 -->
<!--  -->
<html>
	<head>
		<title> Web Model</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, 
					maximum-scale=1.0, user-scalable=no">
	</head>

	<body id="top_bottom">

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Tiago Brazão @2017</p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>

</body>
</html>